.lead {
    font-family: 'Merienda', cursive;
    font-size: 26px;
    color: #E0E0E2;
}

#headline {
    font-family: 'Roboto', sans-serif;
    color: #E0E0E2;
}

.jumbotron {
    background-color: #86626E;
}

.card-header {
    background-color: #91A8A4;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.row {
    font-family: 'Roboto', sans-serif;
}

#headingsrow {
    background-color: #E0E0E2;
}

.tablerow {
    border-bottom: 0.5px solid #E0E0E2;
}

.form-group {
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-family: 'Roboto', sans-serif;
    background-color: #86626E;
    color: white;
}